<div id="navbar" class="" [ngClass]="{'open': isOpen }">
    <nav class="navbar-container">
        <a href="/" class="home-link">
            <!-- <div class="navbar-logo"></div> -->
            MusicApp
        </a>
        
        <div class="navbar-menu">
            <div class="nav-gd-main">
                <ul class="nav-gd-items">
                    <li class="nav-gd-item">
                        <a class="nav-gd-link" href="#">
                            <span class="nav-gd-link-text">Premium</span>
                        </a>
                    </li>
                    <li class="nav-gd-item">
                        <a class="nav-gd-link" href="#">
                            <span class="nav-gd-link-text">Asistencia</span>
                        </a>
                    </li>
                    <li class="nav-gd-item">
                        <a class="nav-gd-link" href="#">
                            <span class="nav-gd-link-text">Descargar</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav-gd-extension">
                <ul *ngIf="!user" class="nav-gd-items">
                    <li class="nav-gd-item">
                        <a class="nav-gd-link" [routerLink]="['/sign-up']">
                            <span class="nav-gd-link-text">Registrarse</span>
                        </a>
                    </li>
                    <li class="nav-gd-item">
                        <a class="nav-gd-link" [routerLink]="['/login']">
                            <span class="nav-gd-link-text">Iniciar sesión</span>
                        </a>
                    </li>
                </ul>
                <ul *ngIf="user" class="nav-gd-items">
                    <li class="nav-gd-item">
                        <div class="nav-gd-link nav-auth">
                            <p-avatar [label]="user.username[0] | uppercase" size="xlarge" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
                            <span class="mr-2">Perfil</span>
                        </div>
                    </li>
                    <li class="nav-gd-item">
                        <div class="nav-gd-link nav-auth-responsive">
                            <span class="mr-2">Cuenta</span>
                        </div>
                    </li>
                    <li class="nav-gd-item">
                        <div class="nav-gd-link nav-auth-responsive" (click)="logout()">
                            <span class="mr-2">Cerrar sessión</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-icon-container">
            <p-avatar *ngIf="user" [label]="user.username[0] | uppercase" size="xlarge" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
            <div type="button" class="me-auto" (click)="eventToggle()" id="nav-icon-toggle" [attr.aria-label]="actionName">
                <span></span>
            </div>
        </div>
    </nav>
</div>