.group-rs {
  .form-check {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 16px;
  }
  button {
    width: 100%;
    background-color: transparent !important;
    .btn-container {
      background-color: #ffa420;
      color: #000000;
      border-radius: 45px;
      font-size: inherit;
      padding: 14px 32px;
    }
  }
}

@media (min-width: 768px) {
  .group-rs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
